<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @listing.user %>
</p>

<p>
  <strong>Address:</strong>
  <%= @listing.address %>
</p>

<p>
  <strong>Num of bedroom:</strong>
  <%= @listing.num_of_bedroom %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
